.sideBar {
  background-color: #444444;
  width: 228px;
  height: 100vh;
  position: fixed;
  padding: 10px;
  color: #ffff;
}

.mobile-menu-button {
  display: none;
}
.drawerBar {
  background-color: #444444 !important;
  color: #ffff;
}
.ant-drawer-content-wrapper {
  width: 70% !important;
}
.renderSection {
  width: 100%;
  height: 100vh;
  margin-left: 228px;
}
.info-sideBar {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.opt-section {
  width: 100%;
  height: 60%;
  font-size: 18px;
  letter-spacing: 1px;
}
.option {
  text-align: center;
  width: 90%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
}
.option:hover {
  cursor: pointer;
  color: #444444;
  background-color: #d9d9d9;
}
.opt-container {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.btn-logout-container {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.info-sideBar > img {
  width: 60%;
}
.info-sideBar > p {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 580px) {
  .sideBar {
    display: none;
  }
  .renderSection {
    margin-left: 0;
  }
}
@media (max-width: 580px) {
  .info-sideBar {
    flex-direction: column;
  }
  .section-btn-drawer {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: end;
  }
  .section-logo-drawer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-logo-drawer > img {
    width: 60%;
  }
  .section-logo-drawer > p {
    font-size: 18px;
    font-weight: bold;
  }
  .sidebar-content {
    height: 100%;
  }
  .mobile-menu-button {
    display: block;
  }
  .ant-drawer-body {
    padding: 0 !important;
    height: 100vh !important;
  }

}
