@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    font-family: 'Rubik';
}

.container-render-area {
    width: 100%;
    height: 100vh;
  }
  .title-container {
    position: fixed;
    width: 100%;
    height: 9vh;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center !important;
    z-index: 999;
  }
  .title-container > p {
      color: #444444;
    margin-bottom: 0;
    width: fit-content;
    height: fit-content;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .cards-container{
    width: 100%;
    height: 91vh;
    padding: 1rem;
    padding-top: 11vh;
  }
  

/***************PAGINACION************/
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    height: 5vh!important;
  }
  
  .page-button {
    background-color: #f0f0f0;
    border: none;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
  }
  
  .page-button.active {
    background-color: #AA56A7;
    color: white;
  }
  

  /* Estilo para el FAB */
  .fab-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #AA56A7;
    color: white;
    border: none;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .fab-button:hover {
    transform: scale(1.1); /* Agranda el botón un 10% */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4); /* Aumenta la sombra */
  }
  
  .fab-button:hover .fab-content {
    transform: rotate(180deg); /* Rota el contenido dentro del botón */
    transition: transform 0.3s ease; /* Aplica una transición al contenido */
  }
  

/* Estilo para la modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.4s ease forwards;
}

.modal-content {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  max-width: 30%;
  max-height: 95%;
  overflow-y: auto;
  position: relative;
  transform: scale(0.9);
  animation: scaleIn 0.2s ease forwards;
}

.modal-content>h4 {
 font-size: 1.2rem;
}
.modal-overlay.hide {
  animation: fadeOut 0.2s ease forwards;
}

.modal-content.hide {
  animation: scaleOut 0.2s ease forwards;
}

/* Animaciones de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

/* Animaciones de salida */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.div-register-form{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.div-register-form>label{
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1rem;
  color: #000000;
  margin-bottom: 5px;
}
.div-register-form>input{
 border-radius: 9px;
 border: none;
 outline: none;
 background-color: #D9D9D9;
 font-size: 1rem;
 padding: 10px;
}
.password-container {
  position: relative;
  width: 100%;
}

.password-input-modal{
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* Para dar espacio al botón */
  background-color: #D9D9D9;
  border-radius: 9px;
  font-size: 1rem;
  border: none;
}
.password-input-modal:focus {
  outline: none;
  border: none;
  }


.password-toggle-modal {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #000000;
}

.div-register-form>select{
  border-radius: 9px;
  border: none;
  outline: none;
  background-color: #D9D9D9;
  font-size: 1rem;
  padding: 10px;
 }
@media(width<580px){
  .modal-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    position: relative;
  }
}


/******ESTILOS DE BOTONES *******/
.btn-blue{
  background-color:#0098DA ;
  color: #f0f0f0;
  width: fit-content;
  padding: 5px 10px 5px 10px;
  font-size: 1rem;
  border: none;
  border-radius: 9px;
}
.btn-blue:hover{
  background-color:#AA56A7 ;
  color: #f0f0f0;
}
.btn-desactivated{
  background-color:#D9D9D9 ;
  color: #000;
  width: fit-content;
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 9px;
}


@media (width<830px) {
  .div-filters {
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    height: 12%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    background-color: white;

  }
  .filter-container {
    height: 40px;
    width: 90%;
    margin-bottom: 1rem;
  }
  .users-cards-section {
    margin-top: 28%;
    height: 78%;
  }
  .pagination {
    width: 100%;
    position: fixed;
    height: 10%;
  }
}

@media(width<580px){
  .row{
    height: 100%;
    display: flex;
    align-content: space-between;
  }
  .cards-container{
    width: 100%;
    height: 100vh;
    padding: 1rem;
    padding-top: 9vh;
  }
  .div-filters {
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    height: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    background-color: white;
    z-index: 999;
    padding-top: 1rem;
  }
  .pagination {
    height: 15%!important;
  }
}