.container-asignacion-seleccionada {
  height: 100vh;
  padding: 1.5rem 0rem 1.2rem 0rem;
  position: relative;
  font-size: 1.1rem;
}
.contenedor-global-1 {
  padding: 0rem 4rem 0rem 4rem;
  width: 100%;
  height: 40%;
}
.title-content {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}
.section-info {
  height: 90%;
  width: 100%;
}
.firts-container {
  height: 18%;
  display: flex;
  margin-bottom: 1rem;
}
.second-container {
  height: 70%;
  display: flex;
  justify-content: space-between;
}
.div-description {
  width: 75%;
  overflow-y: auto;
}
.div-container-persona {
  width: 20%;
  overflow-y: auto;
}
.container-persona {
  font-size: 0.8rem !important;
  display: flex;
  align-items: center;
  height: auto;
  max-height: 90%;
  width: 100%;
  margin-bottom: 10px;
}
.circle-img {
  background-color: #d9d9d9;
  height: 30px;
  width: 30px;
  border-radius: 50%; /* Mantén el círculo */
  margin-right: 2px;
  background-image: url('../../../../public/logoIW.png');
  background-size: cover; /* Cambia 'contain' por 'cover' para que ocupe todo el espacio */
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center; /* Asegúrate de centrar la imagen */
}

.fecha-inicio {
  color: #0098da;
}
.fecha-finalizacion {
  color: #aa56a7;
}
.section-comentarios {
  height: 50%;
  width: 90%;
}
.select-list-estado {
  width: 35%;
  border-radius: 9px;
  border: none;
  outline: none;
  background-color: #d9d9d9;
  font-size: 1rem;
  padding: 8px;
}

/********ESTILOS DEL CONTENEDOR GLOBAL DE COMENTARIOS***********/
.section-comentarios {
  padding: 0rem 4rem 0rem 4rem;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.titulo-comentarios {
  height: 7%;
  width: 100%;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.titulo-comentarios > p {
  font-weight: bold;
  margin: 0;
}
.conment-container {
  padding: 0rem 4rem 0rem 4rem;
  height: 80%;
  width: 100%;
  overflow-y: auto;
}
.conmment-boss {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  width: 45%;
  height: auto;
  padding: 0.5rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}
.employed {
  position: relative;
  right: 0 !important;
}
.input-conment {
  display: flex;
  justify-content: space-between;
  background-color: #d9d9d9;
  width: 70%;
  height: 15%;
  border-radius: 15px;
  margin-right: 1rem;
}
.input-conment > input {
  border: none;
  width: 95%;
  background-color: transparent;
}
.input-conment > input:focus {
  border: none !important;
  outline: none !important;
}
